*{
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e4e4e;

}

.calculadora{
    height: 600px;
    width: 400px;
     background-color: #1d1d1d; 
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.pantalla-resultado{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5rem;
    box-sizing: border-box;
    
}

.pantalla-resultado span{
    font-size: 50px;
    margin: 20px auto;
}

.botones{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    /* grid-gap: 3px; */
}

input{
    font-size: 30px;
    color:white;
    border: none;
}

input.focus{
    outline: none;
    border-color: #111111;
}

input:hover{
    filter:brightness(150%);
}

.operacion{
    background-color: #181818;
}

.operacionTrigonometrica{
    background-color: #181818;
    font-size: 18px;
}

.operacion-borrar{
    width: 100%;
    height: 60px;
    background-color: #181818;
    margin-bottom: 5px;
}

.numero{
    background-color: #111111;
}

.resultado{
    background-color: rgba(167,110,4, 0.55);
}

@media (min-width:800px) {
    
    .calculadora{
        height: 700px;
        width: 800px;
        background-color: #d1d1d1; 
        box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:black;
    }

    .pantalla-resultado{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 2rem;
        box-sizing: border-box;
    }

    .pantalla-resultado span{
        font-size: 100px;
    }

    .botones{
        height: 500px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 200px);
    }

    input{
        font-size: 60px;
        color:white;
        border: none;
    }

    input.focus{
        outline: none;
        border-color: #111111;
    }

    input:hover{
        filter:brightness(200%);
    }

    .operacion{
        background-color: black;
    }
    .operacionTrigonometrica{
        background-color: black;
        font-size: 50px;
    }

    .operacion-borrar{
        width: 100%;
        height: 80px;
        background-color: #181818;
    }

    .numero{
        background-color: #111111;
    }

    .resultado{
        background-color: rgba(167,110,4, 0.55);
    }
}